@model Game
@{ 
    ViewBag.Title = "TicTacToe";
}

<div class="container h-100">
    <form asp-action="SetValue" method="post">
        <div class="row">
            @for (int x = 1; x < 4; x++)
            {
                <div class="col-4 text-center">
                    <button type="submit" id="@x" class="btn-outline-dark p-4">@*@Model.CurrentSquareValues[x].ToString()*@ @x</button>
                </div>
            }
        </div>
        <div class="row">
            @for (int x = 4; x < 7; x++)
            {
                <div class="col-4">
                    <button type="submit" id="@x" class="btn-outline-dark p-4">@*@Model.CurrentSquareValues[x].ToString()*@ @x</button>
                </div>
            }
        </div>
        <div class="row">
            @for (int x = 7; x < 10; x++)
            {
                <div class="col-4">
                    <button type="submit" id="@x" class="btn-outline-dark p-4">@*@Model.CurrentSquareValues[x].ToString()*@ @x</button>
                </div>
            }
        </div>
    </form>
</div>