@model Game
@{ 
    ViewBag.Title = "TicTacToe";
}

<div class="container">
    @if (TempData.Keys.Contains("message"))
    {
        <div class="row justify-content-center text-center p-2 text-white bg-success">
            <label class="text-center"><strong>@TempData["message"]</strong></label>
        </div>
        <div class="row text-center mt-2 justify-content-center">
            <a asp-action="NewGame" class="text-center" asp-route-id="">New Game</a>
        </div>
    }
    else
    {
        <h2 class="text-center">@Model.CurrentPlayer's turn</h2>
    }
</div>
<div class="container" style="height: 100%; width: 100%">
    <div class="row justify-content-center text-center h-100 w-100">
        @for (int x = 0; x <= 2; x++)
        {
            <form asp-action="SetValue" method="post" asp-route-id="@x">
                <div class="col text-center m-0">
                    @if (Model.CurrentSquareValues[x] == "")
                    {
                        <button type="submit" class="btn btn-outline-dark text-center p-5 align-content-center" style="height: 10rem; width: 10rem">@Model.CurrentSquareValues[x]</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-dark text-center p-5 align-content-center" style="height: 10rem; width: 10rem" disabled>@Model.CurrentSquareValues[x]</button>
                    }
                </div>
            </form>
        }
    </div>
    <div class="row justify-content-center text-center h-100 w-100">
        @for (int x = 3; x <= 5; x++)
        {
            <form asp-action="SetValue" method="post" asp-route-id="@x">
                <div class="col text-center m-0">
                    @if (Model.CurrentSquareValues[x] == "")
                    {
                        <button type="submit" class="btn btn-outline-dark text-center p-5 align-content-center" style="height: 10rem; width: 10rem">@Model.CurrentSquareValues[x]</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-dark text-center p-5 align-content-center" style="height: 10rem; width: 10rem" disabled>@Model.CurrentSquareValues[x]</button>
                    }
                </div>
            </form>
        }
    </div>
    <div class="row justify-content-center text-center h-100 w-100">
        @for (int x = 6; x <= 8; x++)
        {
            <form asp-action="SetValue" method="post" asp-route-id="@x">
                <div class="col text-center m-0">
                    @if (Model.CurrentSquareValues[x] == "")
                    {
                        <button type="submit" class="btn btn-outline-dark text-center p-5 align-content-center" style="height: 10rem; width: 10rem">@Model.CurrentSquareValues[x]</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-dark text-center p-5 align-content-center" style="height: 10rem; width: 10rem" disabled>@Model.CurrentSquareValues[x]</button>
                    }
                </div>
            </form>
        }
    </div>
</div>